<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Heaven cocktails recipe</title>
</head>
<%- include("partials/header.ejs") %>
<body>
    <div class="globalContainer">
        <% if(locals.random){ %>
            <div class="globalCard">
                <h2>Give them a chance &#128071;</h2>
                <div class="container">
                    <% random.forEach(element => { %>
                        <div class="card" data-drink-id="<%= element.idDrink %>" name="<%= element.strDrink %>">
                            <img src="<%= element.strDrinkThumb %>" alt='<%= "Drink " + element.strDrink + " image" %>' height="200px"/>
                            <br/>
                            <h4><%= element.strDrink %></h4>
                        </div>
                    <% }); %>
                </div>
                <form id="selectForm" action="/select" method="POST" style="display: none;">
                    <input type="hidden" name="drinkId" id="drinkIdInput">
                </form>
            </div>
        <% } %>
        <div class="globalCard">
            <h2>Search your cocktail</h2>
            <form action="/submit" method="POST">
                <input type="text" id="textInput" name="drinkName" placeholder="cocktail name"/>
                <input id="searchButton" type="submit" value="Search"/>
            </form>
            <% if(locals.goldDrink) { %>
                <h2 style="color: gold;">&#128171 Golden shot! &#128525</h2>
                <div class="drinkDetails">
                    <h3><%= goldDrink.strDrink %></h3>
                    <p>(<%= goldDrink.strCategory %>, 
                        <%= goldDrink.strAlcoholic %>, 
                        <%= goldDrink.strGlass %>)</p>
                    <img src= "<%= goldDrink.strDrinkThumb %>" alt= '<%= "Drink" + goldDrink.strDrink + "image" %>'  height="300px"/>
                        <h4>Ingredients:</h4>
                        <% 
                            let i = 1; 
                            while (goldDrink[`strIngredient${i}`] != null) { 
                        %>
                            <p><%= goldDrink[`strMeasure${i}`] %> of <%= goldDrink[`strIngredient${i}`] %></p>
                        <% 
                                i++; 
                            } 
                        %>
                        <br/>
                        <h4>Instructions:</h4>
                    <p id="instructions"><%= goldDrink.strInstructions %></p>
                </div>
            <% } %>
            <% if(locals.drinkDetails){ %>
                    <div class="drinkDetails">
                        <h3><%= drinkDetails.strDrink %></h3>
                        <p>(<%= drinkDetails.strCategory %>, 
                            <%= drinkDetails.strAlcoholic %>, 
                            <%= drinkDetails.strGlass %>)</p>
                        <img src= "<%= drinkDetails.strDrinkThumb %>" alt= '<%= "Drink" + drinkDetails.strDrink + "image" %>'  height="300px"/>
                            <h4>Ingredients:</h4>
                            <% 
                                let i = 1; 
                                while (drinkDetails[`strIngredient${i}`] != null) { 
                            %>
                                <p><%= drinkDetails[`strMeasure${i}`] %> of <%= drinkDetails[`strIngredient${i}`] %></p>
                            <% 
                                    i++; 
                                } 
                            %>
                            <br/>
                            <h4>Instructions:</h4>
                        <p id="instructions"><%= drinkDetails.strInstructions %></p>
                    </div>
            <% } %>
            <% if(locals.error){ %>
                    <h3 class="error"><%= error %></h3>
            <% } %>
        </div>
        <div class="globalCard">
            <h2>Categories</h2>
            <div class="container">
                <div class="categories">
                    <a href="/categories/Cocktail" class="no-link-style"><h4>Cocktail</h4></a>
                    <a href="/categories/Ordinary Drink" class="no-link-style"><h4>Ordinary Drink</h4></a>
                    <a href="/categories/Punch%20%2F%20Party%20Drink" class="no-link-style"><h4>Punch / Party Drink</h4></a>
                    <a href="/categories/Shake" class="no-link-style"><h4>Shake</h4></a>
                    <a href="/categories/Cocoa" class="no-link-style"><h4>Cocoa</h4></a>
                </div>
                <div class="categories">
                    <a href="/categories/Shot" class="no-link-style"><h4>Shot</h4></a>
                    <a href="/categories/Coffee%20%2F%20Tea" class="no-link-style"><h4>Coffee / Tea</h4></a>
                    <a href="/categories/Homemade Liqueur" class="no-link-style"><h4>Homemade Liqueur</h4></a>
                    <a href="/categories/Beer" class="no-link-style"><h4>Beer</h4></a>
                    <a href="/categories/Soft Drink" class="no-link-style"><h4>Soft Drink</h4></a>
                </div>
            </div>
        </div>
        <div class="globalCard">
            <h2>Search by letter</h2>
            <%- include("partials/allDrinksLink.ejs") %>
        </div>
    </div>
    <script>
        const cards = document.getElementsByClassName("card");

        Array.from(cards).forEach(singleCard => {
            singleCard.addEventListener("click", () => {
                const drinkName = singleCard.getAttribute("name");
                const form = document.getElementById("selectForm");
                const input = document.getElementById("drinkIdInput");

                input.value = drinkName;
                form.submit(); 
            });
        });
    </script>
</body>
<%- include("partials/footer.ejs") %>
</html>