<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>Heaven cocktails recipe</title>
</head>
<%- include("partials/header.ejs") %>
<body>
    <div class="globalContainer">
        <% if(locals.random){ %>
            <div class="globalCard">
                <h2>Give them a chance &#128071;</h2>
                <div class="container">
                    <% random.forEach(element => { %>
                        <div class="card" data-drink-id="<%= element.idDrink %>" name="<%= element.strDrink %>">
                            <img src="<%= element.strDrinkThumb %>" alt='<%= "Drink " + element.strDrink + " image" %>' height="200px"/>
                            <br/>
                            <h4><%= element.strDrink %></h4>
                        </div>
                    <% }); %>
                </div>
                <form id="selectForm" action="/select" method="POST" style="display: none;">
                    <input type="hidden" name="drinkId" id="drinkIdInput">
                </form>
            </div>
        <% } %>
        <div class="globalCard">
            <h2>Search your cocktail</h2>
            <form action="/submit" method="POST">
                <input type="text" id="textInput" name="drinkName" placeholder="cocktail name"/>
                <input id="searchButton" type="submit" value="Search"/>
            </form>
            <% if(locals.drinkDetails){ %>
                    <div class="drinkDetails">
                        <h3><%= drinkDetails.strDrink %></h3>
                        <p>(<%= drinkDetails.strCategory %>, 
                            <%= drinkDetails.strAlcoholic %>, 
                            <%= drinkDetails.strGlass %>)</p>
                        <img src= "<%= drinkDetails.strDrinkThumb %>" alt= '<%= "Drink" + drinkDetails.strDrink + "image" %>'  height=300px/>
                            <h4>Ingredients:</h4>
                            <% 
                                let i = 1; 
                                while (drinkDetails[`strIngredient${i}`] != null) { 
                            %>
                                <p><%= drinkDetails[`strMeasure${i}`] %> of <%= drinkDetails[`strIngredient${i}`] %></p>
                            <% 
                                    i++; 
                                } 
                            %>
                            <br/>
                            <h4>Instructions:</h4>
                        <p id="instructions"><%= drinkDetails.strInstructions %></p>
                    </div>
            <% } %>
            <% if(locals.error){ %>
                    <h3><%= error %></h3>
            <% } %>
        </div>
        <div class="globalCard">
            <h2>Search by names</h2>
            <%- include("partials/allDrinksLink.ejs") %>
        </div>
    </div>
    <script>
        const cards = document.getElementsByClassName("card");

        Array.from(cards).forEach(singleCard => {
            singleCard.addEventListener("click", () => {
                const drinkName = singleCard.getAttribute("name");
                const form = document.getElementById("selectForm");
                const input = document.getElementById("drinkIdInput");

                input.value = drinkName;
                form.submit(); 
            });
        });
    </script>
</body>
<%- include("partials/footer.ejs") %>
</html>